---
import type { GetStaticPaths } from "astro";
import { getEntry } from "astro:content";
import BlogLayout from "@/layouts/BlogLayout.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import { Formatter } from "@/utils/formatter";


export const getStaticPaths = (async() => {
    const posts = await getCollection('blog');
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: { post }
    }))
}) satisfies GetStaticPaths;


const { post } = Astro.props;
const frontmatter = post.data;

const { Content, headings } = await post.render();

const author = (await getEntry('author', frontmatter.author.id)).data;

---

<BlogLayout title={frontmatter.title}>
    <h3 class="text-gray-700 text-xs mb-0">{frontmatter.title}</h3>
    <div class="flex flex-row items-center mt-4 mb-2">
            <Image
                src={author.avatar}
                alt={`Avatar de ${author.name}`}
                width={50}
                height={50}
                class="object-cover w-10 h-10 rounded-full mr-2"
            />
            <div class="flex flex-col ml-2 justify-center">
                <a href={`/blog/${frontmatter.author.id}`}><span class="text-xs">{author.name}</span></a>
                <span class="text-gray-500 text-xs">{Formatter.formateDate(frontmatter.date)}</span>
            </div>
    </div>

    <Image
        src={frontmatter.image}
        alt={`Imagen del post ${frontmatter.title}`}
        width={600}
        height={220}
        class="object-cover w-full h-[300px] rounded-lg my-5"
        transition:name={`${post.slug}-image`}
    />

    <h3>Tabla de contenidos</h3>
    <ol>
        {
            headings.map((heading, index) => (
                <li>
                    <a href={`#${heading.slug}`}>{index + 1 + ".  " + heading.text}</a>
                </li>
            ))
        }
    </ol>
    <Content />

    <div class="mt-20">
        <a href="#regresar">Ir arriba</a>
    </div>

</BlogLayout>

